<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasatiempos</title>
    <link rel="stylesheet" href="/css/stylesPaginaRegistrarse.css" type='text/css'>
    <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="font-family: Gilroy-Regular;">
    <div class="container">
        <h1 style="color: rgb(233, 213, 213); ">Registrar una cuenta</h1>
        <div class="wrapper">
            <p class="centrarTexto">Se necesita de sus credenciales para poder iniciar sesión como usuario en nuestra
                página web</p>
            <form class="form" method="post" action="yourpage.html">

                <input type="text" class="name" placeholder="Nombre de usuario">
                <p class="name-help">Por favor introduzca su nombre de usuario.</p>

                <input type="text" class="name" placeholder="Nombre">
                <p class="name-help">Por favor introduzca su nombre.</p>

                <input type="email" class="email" placeholder="Apellidos">
                <p class="email-help">Por favor introduzca sus apellidos</p>

                <input type="email" class="email" placeholder="Password">
                <p class="email-help">Por favor introduzca una contraseña</p>

                <input type="submit" class="submit" value="Registrarse">
            </form>
        </div>
    </div>
</body>

</html>