<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasatiempos</title>
    <link rel="stylesheet" href="/css/stylesPaginaCromos.css" type='text/css'>
    <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body style="font-family: Gilroy-Regular;">
    <div class="contenedorGenerico">
        <div class="contenedorArriba">
            <div class="contenedorTitulo">
                <h1>Mi colección de cromos</h1>
            </div>
            <div id="cerrarSesion" class="contenedorVacio">
                <a class="botonCerrarSesion" href="logout">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </div>
        <div class="contenedorAbajo">
            <div class="contenedorVacioIzquierda">
                <nav class="menu">
                    <ul>
                        <li class="">
                            <a class="botonesMenu" href="/public/views/paginaComprarCromos.html">Comprar cromos</a>
                        </li>
                        <li class="">
                            <a class="botonesMenu" href="#">Mi colección</a>
                        </li>
                        <li class="nav-item">
                            <button class="boton" style="border:none;outline:none;text-decoration: none;"
                                data-toggle="modal" data-target="#exampleModal">
                                Mis puntos
                            </button>
                            <div class="modal fade" style="margin-top:8%;" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5  id="insertarNombreUsuario" class="modal-title" id="exampleModalLabel">Puntos de mi cuenta</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div id="puntosUsuario" class="modal-body" style="font-size: 25px;">
                                            Tengo 15 puntos
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <button id="botonActividadPuntos" class="boton tacharBoton"
                                style="border:none;outline:none;text-decoration: none;" data-toggle="modal"
                                data-target="#exampleModal2">
                                Actividad 1 para ganar puntos
                            </button>
                            <div class="modal fade" style="margin-top:4%;" id="exampleModal2" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pregunta para ganar 5 puntos
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="font-size: 25px;">
                                            ¿Cuál es la capital de Italia?
                                        </div>
                                        <div class="modal-body" style="font-size: 18px;">
                                            <ul>
                                                <li>
                                                    <button style="color: black; text-decoration: none;"
                                                        onclick="fondoVerde()" class="opcionBoton">Roma</button>
                                                </li>
                                                <li>
                                                    <button style="color: black; text-decoration: none;"
                                                        onclick="fondoRojo()" class="opcionBoton">Madrid</button>
                                                </li>
                                                <li>
                                                    <button style="color: black; text-decoration: none;"
                                                        onclick="fondoRojo()" class="opcionBoton">Oslo</button>
                                                </li>
                                                <li>
                                                    <button style="color: black; text-decoration: none;"
                                                        onclick="fondoRojo()" class="opcionBoton">París</button>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            ¡Solo una oportunidad!
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="nav-item">
                            <button id="botonActividadPuntosCaptcha" class="boton tacharBoton2"
                                style="border:none;outline:none;text-decoration: none;" data-toggle="modal"
                                data-target="#exampleModal3">
                                Actividad 2 para ganar puntos
                            </button>
                            <div class="modal fade" style="margin-top:1vh;" id="exampleModal3" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pregunta para ganar 5 puntos
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="font-size: 25px;">
                                            ¿Qué ve en la imagen?
                                        </div>
                                        <div class="modal-body" style="font-size: 25px;">
                                            <img src="https://i.pinimg.com/originals/3b/ee/07/3bee0708b416dae88c0df35c16456707.jpg" alt="Girl in a jacket" width="25%">
                                        </div>
                                        <div class="modal-body" style="font-size: 18px;">
                                            <ul>
                                                <li>
                                                    <button style="color: black; text-decoration: none; font-size:16px;"
                                                        onclick="fondoVerdeCaptcha()" class="opcionBoton">Carro</button>
                                                </li>
                                                <li>
                                                    <button style="color: black; text-decoration: none; font-size:16px;"
                                                        onclick="fondoRojoCaptcha()" class="opcionBoton">Armario</button>
                                                </li>
                                                <li>
                                                    <button style="color: black; text-decoration: none; font-size:16px;"
                                                        onclick="fondoRojoCaptcha()" class="opcionBoton">Bolígrafo</button>
                                                </li>
                                                <li>
                                                    <button style="color: black; text-decoration: none; font-size:16px;"
                                                        onclick="fondoRojoCaptcha()" class="opcionBoton">Botella</button>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            ¡Solo una oportunidad!
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </nav>
            </div>

            <div class="contenedorCromos mt-5 ml-5">
                <div class="contenedorColecciones">
                    <h3 style="color:whitesmoke;">Colección de Oliver y Benji</h3>
                    <p class="cantidadCromos" style="color:whitesmoke;">0/10 cromos</p>
                    <b id="completoOliver" hidden style="color:green" >¡Colección completa!</b>

                    <h3 class="mt-5" style="color:whitesmoke;">Colección de Harry Potter</h3>
                    <p class="cantidadCromos" style="color:whitesmoke;">0/10 cromos</p>
                    <b id="completoHarry" hidden display="none" style="color:green" >¡Colección completa!</b>

                </div>
            </div>
        </div>
    </div>

    <script>

        var elemOpciones = document.getElementsByClassName("opcionBoton");
        var botonActividadPuntos = document.getElementById("botonActividadPuntos");

        function addCss(fileName) {

            var head = document.head;
            var link = document.createElement("link");

            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = fileName;

            head.appendChild(link);
        }


        //localStorage 
        const storage = window.localStorage;
        

        var nombreUsuario = <%- JSON.stringify(user.username) %>;

        storage.setItem(`soy${nombreUsuario}`,`${nombreUsuario}`);
        //si ya existe el item, si tenemos un if, al refrescar la pagina se nos resetea el valor del item
        var existe = storage.getItem(`puntos${nombreUsuario}`);

        if(existe!=null){
            console.log("Ya existe el item")
        }else{
            storage.setItem(`puntos${nombreUsuario}`, "30")
        }

        var existeAux = storage.getItem(`aux${nombreUsuario}`);

        if(existeAux!=null){
            storage.setItem(`puntos${nombreUsuario}`,`${existeAux}`);
        }else{
            console.log("no se ha iniciado sesion anteriormente con este usuario")
        }

        

        //recogemos los puntos del localstorage y lo pasamos a numero entero para operar
        var keyString = storage.getItem(`puntos${nombreUsuario}`);
        var keyInt = parseInt(keyString);

        //si pulsa Roma
        function fondoVerde() {
            elemOpciones[0].style.backgroundColor = "green"
            elemOpciones[1].disabled = "true"
            elemOpciones[2].disabled = "true"
            elemOpciones[3].disabled = "true"
            botonActividadPuntos.disabled = "true"
            addCss("/css/tacharBoton.css")
            storage.setItem(`preguntaUtilizada1${nombreUsuario}`, "true")
            keyInt+=5;
            var auxPuntos = String(keyInt);
            storage.setItem(`puntos${nombreUsuario}`, `${auxPuntos}`);
            //para que se refresca la puntuacion
            $('#exampleModal3').modal('hide');
            setTimeout(function(){location.reload()}, 1500);
        }

        //si pulsa Madrid, Oslo o París
        function fondoRojo() {
            elemOpciones[0].style.backgroundColor = "green"
            elemOpciones[0].disabled = "true"
            elemOpciones[1].style.backgroundColor = "red"
            elemOpciones[2].style.backgroundColor = "red"
            elemOpciones[3].style.backgroundColor = "red"
            elemOpciones[1].disabled = "true"
            elemOpciones[2].disabled = "true"
            elemOpciones[3].disabled = "true"
            botonActividadPuntos.disabled = "true"
            addCss("/css/tacharBoton.css")
            storage.setItem(`preguntaUtilizada1${nombreUsuario}`, "true")
            //para que se refresca la puntuacion
            $('#exampleModal3').modal('hide');
            setTimeout(function(){location.reload()}, 1500);
        }

        //si pulsa Carro
        function fondoVerdeCaptcha() {
            elemOpciones[4].style.backgroundColor = "green"
            elemOpciones[5].disabled = "true"
            elemOpciones[6].disabled = "true"
            elemOpciones[7].disabled = "true"
            botonActividadPuntosCaptcha.disabled = "true"
            addCss("/css/tacharBoton2.css")
            storage.setItem(`preguntaUtilizada2${nombreUsuario}`, "true");
            keyInt+=5;
            var auxPuntos = String(keyInt);
            storage.setItem(`puntos${nombreUsuario}`, `${auxPuntos}`);
            $('#exampleModal2').modal('hide');
            setTimeout(function(){location.reload()}, 1500);
        }

        //si pulsa lo d
        function fondoRojoCaptcha() {
            elemOpciones[4].style.backgroundColor = "green"
            elemOpciones[4].disabled = "true"
            elemOpciones[5].style.backgroundColor = "red"
            elemOpciones[6].style.backgroundColor = "red"
            elemOpciones[7].style.backgroundColor = "red"
            elemOpciones[5].disabled = "true"
            elemOpciones[6].disabled = "true"
            elemOpciones[7].disabled = "true"
            botonActividadPuntosCaptcha.disabled = "true"
            addCss("/css/tacharBoton2.css")
            storage.setItem(`preguntaUtilizada2${nombreUsuario}`, "true")
            $('#exampleModal2').modal('hide');
            setTimeout(function(){location.reload()}, 1500);
        }

        //cuando se cambie de pagina, queremos que siga tachado el boton
        var preguntaUtilizada1 = storage.getItem(`preguntaUtilizada1${nombreUsuario}`);
        if (preguntaUtilizada1 == "true") {
            botonActividadPuntos.disabled = "true"
            addCss("/css/tacharBoton.css")
            var keyString = storage.getItem(`puntos${nombreUsuario}`);
            var keyInt = parseInt(keyString);
            var auxPuntos = String(keyInt);
            storage.setItem(`puntos${nombreUsuario}`, `${auxPuntos}`);
        }
        var preguntaUtilizada2 = storage.getItem(`preguntaUtilizada2${nombreUsuario}`);
        if (preguntaUtilizada2 == "true") {
            botonActividadPuntosCaptcha.disabled = "true"
            addCss("/css/tacharBoton2.css")
        }


        //actualizar ventana modal puntos nombre usuario
        var insertarNombreUsuario = document.getElementById("insertarNombreUsuario");
        insertarNombreUsuario.innerHTML = `Puntos de mi cuenta <strong>${nombreUsuario}</strong>`;


        //actualizar ventana modal puntos
        var elementoPuntos = document.getElementById("puntosUsuario");
        var numeroPuntos = storage.getItem(`puntos${nombreUsuario}`);
        console.log(numeroPuntos);
        if(numeroPuntos>=0){
            elementoPuntos.innerHTML=`Tengo ${numeroPuntos} puntos`;
        }else{
            elementoPuntos.innerHTML=`Su cuenta se ha quedado sin puntos`;

        }

        //poner a 0 los puntos aunque esté en negativo para sumar puntos (con las acitivdades) desde 0 y no desde -5 por ejemplo
        console.log(numeroPuntos)
        if(numeroPuntos<0){
            storage.setItem(`puntos${nombreUsuario}`,`0`);
        }
    

        //mostrar numero de cromos que se han comprado de la coleccion
        var contadorItemsCromosOliver=0;
        var contadorItemsCromosHarry=0;

        for(var i=0, len=localStorage.length; i<len; i++) {
            var key = localStorage.key(i);
            var value = localStorage[key];
            
            if(key.includes(`cromoSesion${nombreUsuario}Oliver`)){
                contadorItemsCromosOliver ++;
            }
            if(key.includes(`cromoSesion${nombreUsuario}Harry`)){
                contadorItemsCromosHarry ++;
            }
        }
        var arrayElem = document.getElementsByTagName("p");
        arrayElem[0].innerHTML= contadorItemsCromosOliver+"/10 cromos";
        arrayElem[1].innerHTML = contadorItemsCromosHarry+"/10 cromos";

        if(arrayElem[0].innerHTML=="10/10 cromos"){
            var elem=document.getElementById("completoOliver");
            elem.removeAttribute("hidden"); 
        } if(arrayElem[1].innerHTML=="10/10 cromos"){
            var elem=document.getElementById("completoHarry");
            elem.removeAttribute("hidden"); 
        }


        //si se presionar el boton de cerrar sesion, se reestablecen 
        //las cookies para que otro usuario pueda responder a la pregunta
        $('#cerrarSesion').click(function () {

            var numPuntos=storage.getItem(`puntos${nombreUsuario}`);
            storage.setItem(`aux${nombreUsuario}`,`${numPuntos}`);

            for(var i=0, len=localStorage.length; i<len; i++) {
                var key = localStorage.key(i);
                var value = localStorage[key];
                
                if(key.includes('puntos')){
                    storage.removeItem(`${key}`);
                }
                if(key.includes('soy')){
                    storage.removeItem(`${key}`);
                }
            }
            //storage.removeItem(preguntaUtilizada1);
            //storage.removeItem(preguntaUtilizada2);
            //storage.clear()
        });


    </script>

    
</body>

</html>