body {
    background: url("/images/1.png");
    font-family: "Gilroy-Regular", sans-serif;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    margin: 0;
    color: black;
}

#registrarseRedirect {
    color: black;
    text-decoration: none;
}

#registrarseRedirect:hover {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    color: black;
    font-family: "Gilroy-Regular", sans-serif;
    display: flex;
    min-width: 90vw;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-right: 3rem;
}

.centrarItems {
    text-align: center;
}

.contenedorFormulario {
    background-color: rgb(241, 192, 183, 0.7);
    padding: 1.5rem;
    border-radius: 1rem;
}

.botonSubmit {
    background-color: rgb(	0, 123, 255, 0.7);
    border-radius: 2rem;
    margin-left: 5rem;
    outline: none;
}
    .botonSubmit:HOVER {
        cursor: pointer;
        background-color: rgb(	0, 123, 255);

    }
    .botonSubmit:focus {
        outline: none;
        border-radius: 2rem;
    }