<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Crud</title>
  <link rel="stylesheet" href="/css/stylesPaginaCromos.css" type="text/css" />
  <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body style="font-family: Gilroy-Regular;">
  <div class="contenedorGenerico">
    <div class="contenedorArriba">
      <div class="contenedorTitulo">
        <h1>Configuración de Administrador</h1>
      </div>
      <div class="contenedorAdminVacio">
        <div class="gestionarUsuarios" style="color:blanchedalmond;width: 72vw;">
          <h3 class="tituloCentro">Gestionar usuarios</h3>
        </div>
        <nav class="menu horizontal">
          <ul class="horizontal">
            <li class="nav-item editarItemMenu">
              <a class="botonesMenu" href="/tasksUsers/ver">Ver usuarios</a>
            </li>
            <li class="nav-item editarItemMenu">
              <a class="botonesMenu" href="/tasksUsers/crear">Añadir usuarios</a>
            </li>
            <li class="nav-item editarItemMenu">
              <a class="botonesMenu" href="/tasksUsers/eliminar">Eliminar usuarios</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="contenedorAbajo">
      <div class="contenedorVacioIzquierda">
        <nav class="menu">
          <ul>
            <li class="nav-item">
              <a class="botonesMenu" href="#">Ver cromos</a>
            </li>
            <li class="nav-item">
              <a class="botonesMenu" href="/taskCromos/crear">Crear cromos</a>
            </li>
            <li class="nav-item">
              <a class="botonesMenu" href="/taskCromos/eliminar">Eliminar cromos</a>
            </li>

          </ul>
        </nav>
      </div>

      <div class="contenedorCromos ml-5">

        <h1 style="color: blanchedalmond; font-size:20px;">Añadir un usuario</h1>
        <p style="color:blanchedalmond;font-size:13px;" class="centrarTexto">
          Es necesario rellenar todos los campos
        </p>
        <div class="wrapper">

          <form class="form" method="post" action="/tasksUsers/crearUser">
            <input type="text" class="name inputAdminAñadir" name="firstname" placeholder="Nombre" required />
            <p class="name-help"> </p>

            <input type="text" class="name inputAdminAñadir" name="lastName" placeholder="Apellidos" required />
            <p class="name-help"> </p>

            <input type="text" class="name inputAdminAñadir" name="username" placeholder="Nombre de usuario" required />
            <p class="name-help">

            </p>

            <input type="password" class="name inputAdminAñadir" name="password" placeholder="Password" required />
            <p class="name-help"> </p>
            
            <input type="radio" id="user" name="user" value="0">
            <label for="user" style="color: rgb(233, 213, 213);">Usuario</label><br>
            <input type="radio" id="admin" name="user" value="1">
            <label for="user" style="color: rgb(233, 213, 213);">Administrador</label><br>
            <input type="submit" class="submit submitAdminAñadir" value="Crear" />
          </form>
        </div>

      </div>
    </div>
  </div>

  <script></script>
</body>

</html>