<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Crud</title>
  <link rel="stylesheet" href="/css/stylesPaginaCromos.css" type="text/css" />
  <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body style="font-family: Gilroy-Regular;">
  <div class="contenedorGenerico">
    <div class="contenedorArriba">
      <div class="contenedorTitulo">
        <h1>Configuración de Administrador</h1>
      </div>
      <div class="contenedorAdminVacio">
        <div class="gestionarUsuarios" style="color:blanchedalmond;width: 72vw;">
          <h3 class="tituloCentro">Gestionar usuarios</h3>
        </div>
        <nav class="menu horizontal">
          <ul class="horizontal">
            <li class="nav-item editarItemMenu">
              <a class="botonesMenu" href="/tasksUsers/ver">Ver usuarios</a>
            </li>
            <li class="nav-item editarItemMenu">
              <a class="botonesMenu" href="/tasksUsers/crear">Añadir usuarios</a>
            </li>
            <li class="nav-item editarItemMenu">
              <a class="botonesMenu" href="/tasksUsers/eliminar">Eliminar usuarios</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="contenedorAbajo">
      <div class="contenedorVacioIzquierda">
        <nav class="menu">
          <ul>
            <li class="nav-item">
              <a class="botonesMenu" href="#">Ver cromos</a>
            </li>
            <li class="nav-item">
              <a class="botonesMenu" href="/taskCromos/crear">Crear cromos</a>
            </li>
            <li class="nav-item">
              <a class="botonesMenu" href="/taskCromos/eliminar">Eliminar cromos</a>
            </li>

          </ul>
        </nav>
      </div>

      <div class="contenedorCromos mt-5 ml-5">
        <div style="transform: scale(1.2);margin-top:2rem" class="container">
          <h1 style="color:blanchedalmond;font-size: 18px;">Eliminar usuario</h1>

          <div style="margin-top:2rem;">
            <input type="text" id="username" class="name inputAdminAñadir " name="username" value=""
              placeholder="Nombre de usuario" required />

            <button style="padding:0.3rem" class="model submitAdminAñadir" onclick="eliminar()">Eliminar</buttom>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function eliminar() {


      const userdata = { id: document.getElementById("username").value };
      axios
        .post("http://localhost:8888/tasksUsers/eliminar", userdata)
        .then((response) => {

          console.log(response.data);

        })
        .catch((err) => {
          console.log(err);
        });
    }
  </script>
</body>

</html>