<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Crud</title>
  <link rel="stylesheet" href="/css/stylesPaginaCromos.css" type="text/css" />
  <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet" />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body style="font-family: Gilroy-Regular;">
  <div class="contenedorGenerico">
    <div class="contenedorArribaAdmin">
      <div class="contenedorTitulo">
          <h1 style="font-size: 35px;" >Configuración de Administrador</h1>
      </div>
      <div class="contenedorAdminVacio">
          <div class="gestionarUsuarios" style="color:blanchedalmond;width: 72vw;">
              <h3 class="tituloCentro">Gestionar cromos</h3>
          </div>
          <nav class="menu horizontal">
              <ul class="horizontal">
                  <li class="nav-item editarItemMenu">
                      <a class="botonesMenu" href="/tasksUsers/ver">Ver usuarios</a>
                  </li>
                  <li class="nav-item editarItemMenu">
                      <a class="botonesMenu" href="/tasksUsers/crear">Añadir usuarios</a>
                  </li>
                  <li class="nav-item editarItemMenu">
                      <a class="botonesMenu" href="/tasksUsers/eliminar">Eliminar usuarios</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div id="cerrarSesion" class="contenedorCerrarSesion">
          <a class="botonCerrarSesion" href="logout">
              <i class="fa fa-power-off"></i>
          </a>
      </div>
  </div>
    <div class="contenedorAbajo">
      <div class="contenedorVacioIzquierda">
        <nav class="menu">
          <ul>
           
            <li class="nav-item">
              <a class="botonesMenu" href="/tasksCromos/crear">Crear cromos</a>
            </li>
            

          </ul>
        </nav>
      </div>

      <div class="contenedorCromos ml-5">

        <h1 style="color: blanchedalmond; font-size:20px;">Añadir un cromo</h1>
        <p style="color:blanchedalmond;font-size:13px;" class="centrarTexto">
          Es necesario rellenar todos los campos
        </p>
        <div class="wrapper">

          <form class="form" method="post" action="/tasksCromos/crearCromo">
            <input type="text" class="name inputAdminAñadir" name="firstname" placeholder="Nombre del cromo" required />
            <p class="name-help"> </p>

            <input type="text" class="name inputAdminAñadir" name="url" placeholder="Url de la imagen" required />
            <p class="name-help"> </p>
            <label for="quantity" style="color:blanchedalmond;font-size:16px;">  Precio &nbsp &nbsp  </label>
            <input type="number" id="quantity" name="quantity" min="1" max="5">
          </p>
            <input type="submit" class="submit submitAdminAñadir"  onclick="hizoClick()" value="Crear" />
          </form>
        </div>

      </div>
    </div>
  </div>

  <script>
    function  hizoClick(){
      alert("Cromo creado");
    }
  </script>
</body>

</html>